#ext_session_alive_reload_prompt {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853;
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    width: 25%;
    min-width: 480px;
}

#ext_session_alive_reload_prompt h4 {
    margin-top: 0;
    color: inherit;
}

#ext_session_alive_reload_prompt .alert-link {
    font-weight: bold;
}

#ext_session_alive_reload_prompt > p,
#ext_session_alive_reload_prompt > ul {
    margin-bottom: 0;
}

#ext_session_alive_reload_prompt > p + p {
    margin-top: 5px;
}

#ext_session_alive_reload_prompt hr {
    border-top-color: #f8e5be;
}

#ext_session_alive_reload_prompt .alert-link {
    color: #a47e3c;
}

#ext_session_alive_reload_prompt hr {
    border-top-color: #f8e5be;
}

#ext_session_alive_reload_prompt .alert-link {
    color: #a47e3c;
}

#ext_session_alive_reload_prompt > div > div:first-of-type {
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
}

#ext_session_alive_reload_prompt > div {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div:before,
#ext_session_alive_reload_prompt > div:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

#ext_session_alive_reload_prompt > div:after {
    clear: both;
}

#ext_session_alive_reload_prompt > div > div:last-of-type {
    position: relative;
    display: block;
    min-height: 1px;
    float: left;
    width: 10%;
}

#ext_session_alive_reload_cancel {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

#ext_session_alive_reload_cancel:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#ext_session_alive_reload_cancel:hover,
#ext_session_alive_reload_cancel:focus {
    color: #333333;
    text-decoration: none;
}

#ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#ext_session_alive_reload_cancel.disabled,
#ext_session_alive_reload_cancel[disabled],
fieldset[disabled] #ext_session_alive_reload_cancel {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ext_session_alive_reload_cancel:hover,
#ext_session_alive_reload_cancel:focus,
#ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.active,
.open .dropdown-toggle#ext_session_alive_reload_cancel {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

#ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.active,
.open .dropdown-toggle#ext_session_alive_reload_cancel {
    background-image: none;
}

#ext_session_alive_reload_cancel.disabled,
#ext_session_alive_reload_cancel[disabled],
fieldset[disabled] #ext_session_alive_reload_cancel,
#ext_session_alive_reload_cancel.disabled:hover,
#ext_session_alive_reload_cancel[disabled]:hover,
fieldset[disabled] #ext_session_alive_reload_cancel:hover,
#ext_session_alive_reload_cancel.disabled:focus,
#ext_session_alive_reload_cancel[disabled]:focus,
fieldset[disabled] #ext_session_alive_reload_cancel:focus,
#ext_session_alive_reload_cancel.disabled:active,
#ext_session_alive_reload_cancel[disabled]:active,
fieldset[disabled] #ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.disabled.active,
#ext_session_alive_reload_cancel[disabled].active,
fieldset[disabled] #ext_session_alive_reload_cancel.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

#ext_session_alive_reload_cancel:hover,
#ext_session_alive_reload_cancel:focus,
#ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.active,
.open .dropdown-toggle#ext_session_alive_reload_cancel {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

#ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.active,
.open .dropdown-toggle#ext_session_alive_reload_cancel {
    background-image: none;
}

#ext_session_alive_reload_cancel.disabled,
#ext_session_alive_reload_cancel[disabled],
fieldset[disabled] #ext_session_alive_reload_cancel,
#ext_session_alive_reload_cancel.disabled:hover,
#ext_session_alive_reload_cancel[disabled]:hover,
fieldset[disabled] #ext_session_alive_reload_cancel:hover,
#ext_session_alive_reload_cancel.disabled:focus,
#ext_session_alive_reload_cancel[disabled]:focus,
fieldset[disabled] #ext_session_alive_reload_cancel:focus,
#ext_session_alive_reload_cancel.disabled:active,
#ext_session_alive_reload_cancel[disabled]:active,
fieldset[disabled] #ext_session_alive_reload_cancel:active,
#ext_session_alive_reload_cancel.disabled.active,
#ext_session_alive_reload_cancel[disabled].active,
fieldset[disabled] #ext_session_alive_reload_cancel.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

#session_live_reloader_countdown {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999999;
    border-radius: 10px;
    min-width: 2em !important;
}
